@font-face {
   font-family: "OpenSans-Bold";
   src: url("../fonts/OpenSans-Bold/OpenSans-Bold.otf") format("otf"),
      url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("ttf"),
      url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"),
      url("../fonts/OpenSans-Bold/OpenSans-Bold.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Raleway-Medium";
   src: url("../fonts/Raleway-Medium/Raleway-Medium.otf") format("otf"),
      url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("ttf"),
      url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"),
      url("../fonts/Raleway-Medium/Raleway-Medium.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Raleway-Regular";
   src: url("../fonts/Raleway-Regular/Raleway-Regular.otf") format("otf"),
      url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("ttf"),
      url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"),
      url("../fonts/Raleway-Regular/Raleway-Regular.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Roboto-Black";
   src: url("../fonts/Roboto-Black/Roboto-Black.otf") format("otf"),
      url("../fonts/Roboto-Black/Roboto-Black.ttf") format("ttf"),
      url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"),
      url("../fonts/Roboto-Black/Roboto-Black.woff2") format("woff2");
   font-weight: normal;
   font-style: normal;
}
